<div class="" id="van_accueil">
    <div id="header_van_accueil">
        <div>            
            <h1 class="cursor-pointer">
                Accueil
            </h1>
        </div>
        <div>
            
            <h1 class="cursor-pointer">
                Destinations
            </h1>
        </div>
        <div>
            
            <h1 class="cursor-pointer">
                Reserver
            </h1>
        </div>
        <div>
            
            <h1 class="cursor-pointer">
                Contact
            </h1>
        </div>
    </div>

    <div id="summer_logo">
        <img src="src/img/summer_logo.png" alt="" srcset="">
    </div>
</div>
