<div id="info_destination">
    <div>
        <img src="src/img/tibet.jpg" alt="" class="cursor-pointer" id="tibet_jpg">
    </div> 
    <div id="text_destination">
        <h2 class="color1">
            Des destinations inoubliables
        </h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, nihil. Iure cumque, quia commodi optio sit cupiditate! Impedit delectus vel fuga incidunt facere adipisci recusandae voluptates reiciendis, veniam veritatis laborum!
        </p>
    </div>
</div>
<div id="coups_d_c">
<h1>Coups de coeurs</h1>
<div class="display_flex_around">    
    <div class="coups_d_c_img_background">
        <img src="src/img/indonesie.jpg" alt="" class="cursor-pointer">
        <div>
           <h3> Indonésie</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perspiciatis accusantium natus facere rerum
             obcaecati eum laudantium odio, expedita tempore autem quod veritatis voluptas? Recusandae quae eius voluptates ipsa beatae?
        </p>
        <h4 class="lear_more">
            En savoir plus
        </h4>
    </div> 
    <div class="coups_d_c_img_background">
        <img src="src/img/amerique_centrale.jpg" alt="" class="cursor-pointer">
        <div>
           <h3> Amerique centrale</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perspiciatis accusantium natus facere rerum
             obcaecati eum laudantium odio, expedita tempore autem quod veritatis voluptas? Recusandae quae eius voluptates ipsa beatae?
        </p>
        <h4 class="lear_more">
            En savoir plus
        </h4>
    </div> 
    <div class="coups_d_c_img_background">
        <img src="src/img/orient_express.jpg" alt="" class="cursor-pointer">
        <div>
           <h3> L'orien express</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perspiciatis accusantium natus facere rerum
             obcaecati eum laudantium odio, expedita tempore autem quod veritatis voluptas? Recusandae quae eius voluptates ipsa beatae?
        </p>
        <h4 class="lear_more">
            En savoir plus
        </h4>
    </div> 
    <div class="coups_d_c_img_background">
        <img src="src/img/island.jpg" alt="" class="cursor-pointer">
        <div>
           <h3> Canada</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perspiciatis accusantium natus facere rerum
             obcaecati eum laudantium odio, expedita tempore autem quod veritatis voluptas? Recusandae quae eius voluptates ipsa beatae?
        </p>
        <h4 class="lear_more">
            En savoir plus
        </h4>
    </div> 
</div>
</div>
<div id="depart_imminent">
    <div class="depart_imminent_spaces">
        <h2 class="color_style1">
            Départ immédiat
        </h2>
        <div>
            <div>
                <img src="src/img/london.jpg" alt="" class="cursor-pointer">
            </div>
            <!-- 1  destination-->
            <div>               
                <p class="color_style1">
                     Londres
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam dolore, molestiae saepe aliquid, beatae autem quisquam 
                    aspernatur delectus, cum sit quidem eligendi vitae pariatur harum ipsa molestias dolor dignissimos
                </p>
                <p>
                    prix :800$ Départ :02/07/2023
                </p>
            </div>
            <div>
                <img src="src/img/new-york.jpg" alt="" class="cursor-pointer">
            </div>
                        <!-- 2  destination-->
                        <div>               
                            <p class="color_style1">
                                 Londres
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam dolore, molestiae saepe aliquid, beatae autem quisquam 
                                aspernatur delectus, cum sit quidem eligendi vitae pariatur harum ipsa molestias dolor dignissimos
                            </p>
                            <p>
                                prix :800$ Départ :02/07/2023
                            </p>
                        </div>
                        <div>
                            <img src="src/img/madrid.jpg" alt="" class="cursor-pointer">
                        </div>
                                    <!-- 3 destination-->
            <div>               
                <p class="color_style1">
                     Londres
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam dolore, molestiae saepe aliquid, beatae autem quisquam 
                    aspernatur delectus, cum sit quidem eligendi vitae pariatur harum ipsa molestias dolor dignissimos
                </p>
                <p>
                    prix :800$ Départ :02/07/2023
                </p>
            </div>
        </div>
    </div>

 
</div>